* {
  margin: 0;
  padding: 0;
}
html, body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 160px;
}
  :root {
    --bg: #fff;
    --text: #B8860B;
    --link: #B8860B;
    --accent: #B8860B;
    --card-bg: transparent;
  }

  body {
    margin: 0;
    font-family: 'Cinzel', sans-serif;
 background-color: var(--bg);
    color: var(--text);
    line-height: 1.6;
  }
  
  body, section {
     margin: 0;
     padding: 0;
}

  #outer {
    margin: 0 auto;
    width:90%;
  }
  #page-outer {
    margin: 0 auto;
    width:70%;
    padding-top: 2rem
  }
  
 a {
    color: var(--link);
    text-decoration: underline dotted;
  text-decoration-color: var(--link);
  text-decoration-thickness: 0.8px;
 }
 
  header {
  width: 100%;
  position: fixed; 
  top: 0;          
  left: 0;
  background-color: var(--bg);
  height: 100px;  
  line-height: 1;
  text-align: center;
  padding: 0rem 0 0; 
}
#main {
  padding-top: 150px; 
}
  header h1 {
    font-family: 'Cinzel', serif;
    font-size: 1.9rem;
    margin: 1rem 0 0;
    padding:0;
    line-height:0.3;
    letter-spacing: 0.03em;
    color: var(--accent);
    text-transform: uppercase;
  }
  
  header h1 a {
  text-decoration:none
}
 
  header h2 {
    font-weight: 600;
    line-height:0.5;
    font-family: 'Cinzel', serif;
    font-size: 0.9rem;
    margin: 0;
    padding-bottom: 0.7rem;
    letter-spacing: 0.7em;
    color: var(--accent);
    text-transform: uppercase;
    background-color: var(--bg);
  }
  h3 {
    margin: 1rem 0 0;
  }
  
  nav {
    font-family: 'Cinzel', serif;
    font-size: 0.5rem;
    font-weight: 600;
    padding-top: 0.4rem;
    padding-bottom: 1rem;
    letter-spacing: 0.4rem;
    color: var(--accent);
    background-color: var(--bg);
    text-transform: uppercase;
  }
  nav a {
  	text-decoration: none;
  }
 
   #sb {
   	height:30px;
   	margin:0;
       padding:0;
   	background-color: var(--bg);
   z-index: 1000;  
   }
   
input {
  border: none;
  border-bottom: 2px solid var(--accent);
  background: transparent;
  outline: none;
  padding: 0 0;
  margin: 0 auto;
  display: block;
  color: var(--accent);
  font-family: 'Cinzel', serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 0.85rem;

}

input::placeholder {
  color: var(--accent);
  opacity: 0.6;
  font-family: 'Cinzel', serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 0.85rem;
}

#search {
	display: block;
    padding: 0rem 1rem 0;
    width: 200px;
    max-width: 200px;
    border-bottom: 1px solid var(--link);
    border-radius: 0px;
    margin: 0 auto 0;
    font-size: 1rem;
    text-align: center
  }
  
  .post {
  scroll-snap-align: start;  
    background-color: var(--card-bg);
    margin: 0 auto 2.7rem auto;
    padding: 0 0 0.5rem 0rem;
    border-radius: 5px;
    box-shadow: -0 -3px -10px rgba(0,0,0,0.08);
    border: 2px solid var(--accent);
    display: block;
  }

  .post img {
    width: 95%;
    height: auto;
    border-radius: 0px;
    margin: 0 auto;
    padding: 1rem 0 0 0;
    vertical-align: bottom;
    display: block;
    border:none;
  }
 .full {
 	padding:0 0 0 0 !important;
     width:100% !important 
 }
  .title {
    display:none;
    line-height:0px;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--accent);
    margin: 0;
    padding:0;
    font-family: 'Cinzel', serif;
  }
  
  .key {
    display:none;
  }
  
  .caption {
    font-size: 0.9rem;
    margin: 0 auto;
    font-family: 'Cinzel', serif;
    color: var(--accent);
    line-height:1;
    text-align:center;
    padding: 1.4rem 1rem 0.8rem
  }
  
  small {
   font-size: 0.6rem;
   display:block;
   margin:1rem 0
  }

  blockquote {
    line-height: 1;
    color: var(--accent);
    padding: 0 4rem;
    font-size: 0.9rem;
    margin: 1.2rem 0 1rem 1.5rem
  }
  
  footer {
    text-align: center;
    padding: 2rem 1rem;
    font-size: 0.85rem;
    color: var(--accent);
    border-top: 1px solid #ddd;
    margin-top: 2rem;
    text-transform:uppercase
  }

/************************************************************
RESPONSIVE SECTION                      ************************************************************/


@media only screen and (min-width: 900px) {
  .caption {
    font-size: 35px;
    padding: 6rem 6rem;
  }
}
