* {
  margin: 0;
  padding: 0;
}

  :root {
    --bg: #fff;
    --text: #2b2b2b;
    --link: #BFA556;
    --accent: #BFA556; /* soft gold */
    --card-bg: transparent;
  }

  body {
    margin: 0;
    font-family: 'Cinzel', sans-serif;
 background-color: var(--bg);
    color: var(--text);
    line-height: 1.6;
  }
  
  body, section {
  margin: 0;
  padding: 0;
}

  
  #outer {
    margin: 0 auto;
    width:90%;
    //max-width:600px;
  }
  
 a {
    color: var(--link);
    text-decoration: underline dotted;
  text-decoration-color: var(--link);
  text-decoration-thickness: 0.8px;
 }
  header {
    line-height:1;
    text-align: center;
    padding: 0rem;
    border-bottom: 0px solid var(--accent);
    margin: 1.5rem auto;
  }

  header h1 {
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    margin: 0;
    padding:0;
    line-height:1;
    letter-spacing: 0.03em;
    color: var(--accent);
    text-transform: uppercase;
  }
  header h2 {
  	line-height:0.5;
    font-family: 'Cinzel', serif;
    font-size: 0.8rem;
    margin: 0;
    padding:0;
    letter-spacing: 1.03em;
    color: var(--accent);
    text-transform: uppercase;
  }
  
input {
  border: none;
  border-bottom: 1px solid var(--accent);
  background: transparent;
  outline: none;
  padding: 0.3rem 0;
  margin: 0 auto;
  display: block;
  color: var(--accent);
  font-family: 'Cinzel', serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 0.85rem;

}

input::placeholder {
  color: var(--accent);
  opacity: 0.6;
  font-family: 'Cinzel', serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 0.85rem;
}

#search {
	display: block;
    padding: 0.5rem 1rem;
    width: 200px;
    max-width: 200px;
    border-bottom: 1px solid var(--link);
    border-radius: 0px;
    margin: 1rem auto;
    font-size: 1rem;
    text-align: center
  }
  
  .post {
    background-color: var(--card-bg);
    margin: 0 auto 1rem auto;
    padding: 0 0 1rem 0rem;
    border-radius: 5px;
    box-shadow: -0 -3px -10px rgba(0,0,0,0.08);
    border: 2px solid var(--accent);
    display: block;
  }

  .post img {
    width: 95%;
    height: auto;
    border-radius: 0px;
    margin: 0 auto;
    padding: 1rem 0 0 0;
    vertical-align: bottom;
    display: block;
    border:none
  }
 
  .title {
    display:none;
    line-height:0px;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--accent);
    margin: 0;
    padding:0;
    font-family: 'Cinzel', serif;
  }

  .caption {
    font-size: 1rem;
    margin: 0 auto;
    font-family: 'Cinzel', serif;
    color: var(--accent);
    line-height:1;
    text-align:center;
    padding: 1.4rem 1rem 0.8rem
  }


  blockquote {
    line-height: 1;
    color: var(--accent);
    font-family: 'Lato', serif;
    padding: 0 4rem;
  }
  
  footer {
    text-align: center;
    padding: 2rem 1rem;
    font-size: 0.85rem;
    color: #555;
    border-top: 1px solid #ddd;
    margin-top: 2rem;
  }
